body, .sfbg, #hdtbSum {
  background-color: #2B2B2B;
}

cite, .PZPZlf .w8qArf .fl , .bnVcaUb a, .nVcaUb a {
  color: cadetblue;
}

.st, em, .zCubwf, .PZPZlf, .qrShPb, .fl, .LGOjhe {
  color: #deddd9;
}

.WE0UJf {
  background-color: #2B2B2B;
  margin-left: 0;
  padding-left: 180px;
}

h3 {
  color: #92d1bc;
}

.commercial-unit-desktop-rhs, .Rn1jbe {
  background-color: brown;
  border-radius: 5px;
}

.b0KoTc, .fbar {
  background-color: #000000;
  color: #818181;
}
